div#chart { font: 14px Arial;}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}
path.important { stroke: red; }

#temperature-chart {
  width: 800px;
  height: 400px;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}
